<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.maple.mapper.AddressMapper">

    <resultMap type="Address" id="AddressResult">
        <result property="id"    column="id"    />
        <result property="name"    column="name"    />
        <result property="phone"    column="phone"    />
        <result property="address"    column="address"    />
        <result property="userId"    column="user_id"    />
        <result property="isDefault"    column="is_default"    />
    </resultMap>

    <sql id="selectAddressVo">
        select id, name, phone, address, user_id, is_default from t_address
    </sql>

    <select id="selectAddressList" parameterType="Address" resultMap="AddressResult">
        <include refid="selectAddressVo"/>
        <where>
            <if test="name != null  and name != ''"> and name like concat('%', #{name}, '%')</if>
            <if test="phone != null  and phone != ''"> and phone = #{phone}</if>
            <if test="address != null  and address != ''"> and address = #{address}</if>
            <if test="userId != null "> and user_id = #{userId}</if>
            <if test="isDefault != null "> and is_default = #{isDefault}</if>
        </where>
    </select>

    <select id="selectAddressById" parameterType="Long" resultMap="AddressResult">
        <include refid="selectAddressVo"/>
        where id = #{id}
    </select>

    <insert id="insertAddress" parameterType="Address" useGeneratedKeys="true" keyProperty="id">
        insert into t_address
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="name != null">name,</if>
            <if test="phone != null">phone,</if>
            <if test="address != null and address != ''">address,</if>
            <if test="userId != null">user_id,</if>
            <if test="isDefault != null">is_default,</if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="name != null">#{name},</if>
            <if test="phone != null">#{phone},</if>
            <if test="address != null and address != ''">#{address},</if>
            <if test="userId != null">#{userId},</if>
            <if test="isDefault != null">#{isDefault},</if>
        </trim>
    </insert>

    <update id="updateAddress" parameterType="Address">
        update t_address
        <trim prefix="SET" suffixOverrides=",">
            <if test="name != null">name = #{name},</if>
            <if test="phone != null">phone = #{phone},</if>
            <if test="address != null and address != ''">address = #{address},</if>
            <if test="userId != null">user_id = #{userId},</if>
            <if test="isDefault != null">is_default = #{isDefault},</if>
        </trim>
        where id = #{id}
    </update>

    <delete id="deleteAddressById" parameterType="Long">
        delete from t_address where id = #{id}
    </delete>

    <delete id="deleteAddressByIds" parameterType="String">
        delete from t_address where id in
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>
    <update id="cancelDefault">
        update t_address set is_default = false where is_default = true and user_id = #{userId};
    </update>
</mapper>