<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.maple.mapper.FeedbackMapper">
    
    <resultMap type="Feedback" id="FeedbackResult">
        <result property="id"    column="id"    />
        <result property="content"    column="content"    />
        <result property="urls"    column="urls"    />
        <result property="createTime"    column="create_time"    />
        <result property="createId"    column="create_id"    />
        <result property="createName"    column="createName"    />
    </resultMap>

    <sql id="selectFeedbackVo">
        select f.id, f.content, f.urls, f.create_time, f.create_id,u.user_name createName from t_feedback f
        inner join sys_user u on u.user_id = f.create_id
    </sql>

    <select id="selectFeedbackList" parameterType="Feedback" resultMap="FeedbackResult">
        <include refid="selectFeedbackVo"/>
        <where>  
            <if test="params.beginCreateTime != null and params.beginCreateTime != '' and params.endCreateTime != null and params.endCreateTime != ''"> and create_time between #{params.beginCreateTime} and #{params.endCreateTime}</if>
            <if test="createId != null "> and f.create_id = #{createId}</if>
        </where>
        order by create_time desc
    </select>
    
    <select id="selectFeedbackById" parameterType="Long" resultMap="FeedbackResult">
        <include refid="selectFeedbackVo"/>
        where f.id = #{id}
    </select>
        
    <insert id="insertFeedback" parameterType="Feedback" useGeneratedKeys="true" keyProperty="id">
        insert into t_feedback
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="content != null and content != ''">content,</if>
            <if test="urls != null">urls,</if>
            <if test="createTime != null">create_time,</if>
            <if test="createId != null">create_id,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="content != null and content != ''">#{content},</if>
            <if test="urls != null">#{urls},</if>
            <if test="createTime != null">#{createTime},</if>
            <if test="createId != null">#{createId},</if>
         </trim>
    </insert>

    <update id="updateFeedback" parameterType="Feedback">
        update t_feedback
        <trim prefix="SET" suffixOverrides=",">
            <if test="content != null and content != ''">content = #{content},</if>
            <if test="urls != null">urls = #{urls},</if>
            <if test="createTime != null">create_time = #{createTime},</if>
            <if test="createId != null">create_id = #{createId},</if>
        </trim>
        where id = #{id}
    </update>

    <delete id="deleteFeedbackById" parameterType="Long">
        delete from t_feedback where id = #{id}
    </delete>

    <delete id="deleteFeedbackByIds" parameterType="String">
        delete from t_feedback where id in 
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>
</mapper>