<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.maple.mapper.HelpMapper">
    
    <resultMap type="Help" id="HelpResult">
        <result property="id"    column="id"    />
        <result property="title"    column="title"    />
        <result property="content"    column="content"    />
    </resultMap>

    <sql id="selectHelpVo">
        select id, title, content from t_help
    </sql>

    <select id="selectHelpList" parameterType="Help" resultMap="HelpResult">
        <include refid="selectHelpVo"/>
        <where>  
            <if test="title != null  and title != ''"> and title like concat('%', #{title}, '%')</if>
        </where>
    </select>
    
    <select id="selectHelpById" parameterType="Long" resultMap="HelpResult">
        <include refid="selectHelpVo"/>
        where id = #{id}
    </select>
        
    <insert id="insertHelp" parameterType="Help" useGeneratedKeys="true" keyProperty="id">
        insert into t_help
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="title != null and title != ''">title,</if>
            <if test="content != null and content != ''">content,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="title != null and title != ''">#{title},</if>
            <if test="content != null and content != ''">#{content},</if>
         </trim>
    </insert>

    <update id="updateHelp" parameterType="Help">
        update t_help
        <trim prefix="SET" suffixOverrides=",">
            <if test="title != null and title != ''">title = #{title},</if>
            <if test="content != null and content != ''">content = #{content},</if>
        </trim>
        where id = #{id}
    </update>

    <delete id="deleteHelpById" parameterType="Long">
        delete from t_help where id = #{id}
    </delete>

    <delete id="deleteHelpByIds" parameterType="String">
        delete from t_help where id in 
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>
</mapper>