<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.maple.mapper.StatusLogMapper">
    
    <resultMap type="StatusLog" id="StatusLogResult">
        <result property="id"    column="id"    />
        <result property="createTime"    column="create_time"    />
        <result property="remark"    column="remark"    />
        <result property="targetId"    column="target_id"    />
        <result property="targetType"    column="target_type"    />
    </resultMap>

    <sql id="selectStatusLogVo">
        select id, create_time, remark, target_id, target_type from t_status_log
    </sql>

    <select id="selectStatusLogList" parameterType="StatusLog" resultMap="StatusLogResult">
        <include refid="selectStatusLogVo"/>
        <where>  
            <if test="params.beginCreateTime != null and params.beginCreateTime != '' and params.endCreateTime != null and params.endCreateTime != ''"> and create_time between #{params.beginCreateTime} and #{params.endCreateTime}</if>
            <if test="targetId != null "> and target_id = #{targetId}</if>
            <if test="targetType != null  and targetType != ''"> and target_type = #{targetType}</if>
        </where>
        order by create_time desc
    </select>
    
    <select id="selectStatusLogById" parameterType="Long" resultMap="StatusLogResult">
        <include refid="selectStatusLogVo"/>
        where id = #{id}
    </select>
        
    <insert id="insertStatusLog" parameterType="StatusLog" useGeneratedKeys="true" keyProperty="id">
        insert into t_status_log
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="createTime != null">create_time,</if>
            <if test="remark != null and remark != ''">remark,</if>
            <if test="targetId != null">target_id,</if>
            <if test="targetType != null and targetType != ''">target_type,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="createTime != null">#{createTime},</if>
            <if test="remark != null and remark != ''">#{remark},</if>
            <if test="targetId != null">#{targetId},</if>
            <if test="targetType != null and targetType != ''">#{targetType},</if>
         </trim>
    </insert>

    <update id="updateStatusLog" parameterType="StatusLog">
        update t_status_log
        <trim prefix="SET" suffixOverrides=",">
            <if test="createTime != null">create_time = #{createTime},</if>
            <if test="remark != null and remark != ''">remark = #{remark},</if>
            <if test="targetId != null">target_id = #{targetId},</if>
            <if test="targetType != null and targetType != ''">target_type = #{targetType},</if>
        </trim>
        where id = #{id}
    </update>

    <delete id="deleteStatusLogById" parameterType="Long">
        delete from t_status_log where id = #{id}
    </delete>

    <delete id="deleteStatusLogByIds" parameterType="String">
        delete from t_status_log where id in 
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>
</mapper>