<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.maple.mapper.WarehouseMapper">
    
    <resultMap type="Warehouse" id="WarehouseResult">
        <result property="id"    column="id"    />
        <result property="name"    column="name"    />
        <result property="address"    column="address"    />
        <result property="consignee"    column="consignee"    />
        <result property="phone"    column="phone"    />
        <result property="postalCode"    column="postal_code"    />
    </resultMap>

    <sql id="selectWarehouseVo">
        select id, name, address, consignee, phone, postal_code from t_warehouse
    </sql>

    <select id="selectWarehouseList" parameterType="Warehouse" resultMap="WarehouseResult">
        <include refid="selectWarehouseVo"/>
        <where>  
            <if test="name != null  and name != ''"> and name like concat('%', #{name}, '%')</if>
            <if test="address != null  and address != ''"> and address like concat('%', #{address}, '%')</if>
            <if test="consignee != null  and consignee != ''"> and consignee like concat('%', #{consignee}, '%')</if>
            <if test="phone != null  and phone != ''"> and phone like concat('%', #{phone}, '%')</if>
            <if test="postalCode != null  and postalCode != ''"> and postal_code = #{postalCode}</if>
        </where>
    </select>
    
    <select id="selectWarehouseById" parameterType="Long" resultMap="WarehouseResult">
        <include refid="selectWarehouseVo"/>
        where id = #{id}
    </select>
        
    <insert id="insertWarehouse" parameterType="Warehouse" useGeneratedKeys="true" keyProperty="id">
        insert into t_warehouse
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="name != null and name != ''">name,</if>
            <if test="address != null and address != ''">address,</if>
            <if test="consignee != null and consignee != ''">consignee,</if>
            <if test="phone != null and phone != ''">phone,</if>
            <if test="postalCode != null and postalCode != ''">postal_code,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="name != null and name != ''">#{name},</if>
            <if test="address != null and address != ''">#{address},</if>
            <if test="consignee != null and consignee != ''">#{consignee},</if>
            <if test="phone != null and phone != ''">#{phone},</if>
            <if test="postalCode != null and postalCode != ''">#{postalCode},</if>
         </trim>
    </insert>

    <update id="updateWarehouse" parameterType="Warehouse">
        update t_warehouse
        <trim prefix="SET" suffixOverrides=",">
            <if test="name != null and name != ''">name = #{name},</if>
            <if test="address != null and address != ''">address = #{address},</if>
            <if test="consignee != null and consignee != ''">consignee = #{consignee},</if>
            <if test="phone != null and phone != ''">phone = #{phone},</if>
            <if test="postalCode != null and postalCode != ''">postal_code = #{postalCode},</if>
        </trim>
        where id = #{id}
    </update>

    <delete id="deleteWarehouseById" parameterType="Long">
        delete from t_warehouse where id = #{id}
    </delete>

    <delete id="deleteWarehouseByIds" parameterType="String">
        delete from t_warehouse where id in 
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>
</mapper>